@charset "UTF-8";

@font-face {
  font-family: "Nekst Semi";
  src: url("../fonts/Nekst-SemiBold.eot");
  src: local("Nekst Semi Bold"), local("Nekst-SemiBold"), url("../fonts/Nekst-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-SemiBold.woff2") format("woff2"), url("../fonts/Nekst-SemiBold.woff") format("woff"), url("../fonts/Nekst-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Regular.eot");
  src: local("Nekst"), local("Nekst-Regular"), url("../fonts/Nekst-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Regular.woff2") format("woff2"), url("../fonts/Nekst-Regular.woff") format("woff"), url("../fonts/Nekst-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Black.eot");
  src: local("Nekst Black"), local("Nekst-Black"), url("../fonts/Nekst-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Black.woff2") format("woff2"), url("../fonts/Nekst-Black.woff") format("woff"), url("../fonts/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Thin.eot");
  src: local("Nekst Thin"), local("Nekst-Thin"), url("../fonts/Nekst-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Thin.woff2") format("woff2"), url("../fonts/Nekst-Thin.woff") format("woff"), url("../fonts/Nekst-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Bold.eot");
  src: local("Nekst Bold"), local("Nekst-Bold"), url("../fonts/Nekst-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Bold.woff2") format("woff2"), url("../fonts/Nekst-Bold.woff") format("woff"), url("../fonts/Nekst-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Medium.eot");
  src: local("Nekst Medium"), local("Nekst-Medium"), url("../fonts/Nekst-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Medium.woff2") format("woff2"), url("../fonts/Nekst-Medium.woff") format("woff"), url("../fonts/Nekst-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Light.eot");
  src: local("Nekst Light"), local("Nekst-Light"), url("../fonts/Nekst-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst-Light.woff2") format("woff2"), url("../fonts/Nekst-Light.woff") format("woff"), url("../fonts/Nekst-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"), url("../fonts/Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraboldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"), url("../fonts/Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiboldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
header,
footer,
section {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background: none;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #000;
}

.wrap {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1346px;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-family: "Nekst", sans-serif;
  font-size: 54px;
  line-height: 90%;
  max-width: 753px;
  width: 100%;
  font-weight: 900;
  color: #111111;
}

.app {
  width: 100%;
}

.main-form {
  margin-top: 32px;
}

.main-form.not-active {
  pointer-events: none;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-block {
  width: 427px;
}

.range-title {
  color: #575757;
  font-size: 16px;
  line-height: 125%;
}

.range-row {
  color: #575757;
  position: relative;
  margin-top: 24px;
  background: #F3F3F4;
  border-radius: 16px;
  font-size: 30px;
  line-height: 1;
  padding: 0 24px;
  height: 68px;
  font-family: "Nekst", sans-serif;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F3F3F4;
}

.range-row.active {
  background: #Fff;
}

.range-row.disabled {
  background: #F3F3F4;
  opacity: 0.6;
}

.range-row input[type=range] {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  z-index: 1;
}

.range-row .range-text {
  color: #575757;
  font-size: 30px;
  line-height: 1;
  border: 0;
  background: none;
  width: 80%;
  height: 100%;
  font-family: "Nekst", sans-serif;
  font-weight: 900;
}

.range-row span:nth-child(2) {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.range-line {
  height: 1px;
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  background: #E1E1E1;
}

.range-line div {
  width: 0%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #FF9514;
}

.range-proc .range-row {
  padding-right: 7px;
}

.range-procent {
  width: 69px;
  height: 54px;
  background: #EBEBEC;
  border-radius: 16px;
  border: 0;
  color: #575757;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  font-family: "Nekst", sans-serif;
  font-weight: 900;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
}

/***** Стили дорожки *****/

/***** Chrome, Safari, Opera и Edge Chromium *****/

input[type=range]::-webkit-slider-runnable-track {
  background: #FF9514;
  height: 0px;
}

/******** Firefox ********/

input[type=range]::-moz-range-track {
  background: #FF9514;
  height: 0px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Сбрасываем вид по умолчанию */
  appearance: none;
  margin-top: -10px;
  /* Центрируем ползунок на дорожке */
  background-color: #FF9514;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  background-color: #FF9514;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
}

.form-row__2 {
  margin-top: 51px;
}

.input input {
  pointer-events: none;
  margin-top: 8px;
  border: 0;
  background: none;
  font-size: 54px;
  line-height: 1;
  color: #333333;
  font-weight: 900;
  font-family: "Nekst", sans-serif;
}

.form-btn {
  background: #FF9514;
  pointer-events: auto;
  width: 100%;
  height: 68px;
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  font-family: "Nekst", sans-serif;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.form-btn span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-btn img {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-btn:hover {
  background: #111111;
}

.form-btn.not-active {
  background: rgba(255, 149, 20, 0.4);
  pointer-events: none;
}

.form-btn.active img {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 1;
  -webkit-animation-name: btnFocus;
          animation-name: btnFocus;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.form-btn.active span {
  opacity: 0;
}

.form-btn.pressed {
  background: #575757;
  pointer-events: none;
}

.form-btn.pressed span {
  opacity: 1;
}

.form-btn.pressed img {
  opacity: 0;
}

@-webkit-keyframes btnFocus {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes btnFocus {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 1439px) {
  .wrap {
    width: calc(100% - 96px);
  }

  .form-block {
    width: calc(33.3333333% - 21px);
  }
}

@media (max-width: 1119px) {
  .wrap {
    width: calc(100% - 72px);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 64px 0 156px;
    height: auto;
  }

  .main-form {
    margin-top: 44px;
  }

  .form-row__1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-block {
    width: 100%;
  }

  .range {
    margin-top: 39px;
  }

  .range:first-child {
    margin-top: 0;
  }

  .form-row__2 {
    margin-top: 44px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .input {
    width: calc(50% - 40px);
  }

  .form-block__btn {
    margin-top: 44px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .wrap {
    width: calc(100% - 40px);
    padding: 44px 0 64px;
  }

  h1 {
    font-size: 34px;
  }

  .main-form {
    margin-top: 32px;
  }

  .range-title {
    font-size: 14px;
  }

  .range-row {
    font-size: 22px;
    padding: 0 20px;
    height: 60px;
  }

  .range-row .range-text {
    font-size: 22px;
  }

  .range-proc .range-row span:nth-child(2) {
    font-size: 22px;
  }

  .range {
    margin-top: 25px;
  }

  .range-row {
    margin-top: 8px;
  }

  .form-row__2 {
    margin-top: 25px;
  }

  .input {
    width: 100%;
  }

  .input:nth-child(2) {
    margin-top: 29px;
  }

  .input input {
    margin-top: 2px;
    font-size: 22px;
  }

  .form-block__btn {
    margin-top: 32px;
    width: 100%;
  }

  .form-btn {
    font-size: 22px;
    height: 60px;
  }

  .range-procent {
    font-size: 22px;
  }
}